*{
  margin: 0;
  padding: 0;
}

.slide-in {
  animation: slide-in .2s forwards;
  transform: translateY(-100px);
}
@keyframes slide-in {
  from {}
  to {
    transform: translateY(0px)
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;